<div class="user-details">
  <h1> Recent Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Nintendo.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Game Sale Data Analysis </h3>
    <ul>
      <li> Skills: Python, Panda, Numpy, Matplot </li>
    </ul>
    <p> Our goal is to provide actionable insights to Nintendo, enabling them to optimize their game portfolio and make strategic decisions based on the profitability of different game genres</p>
    <a class="project-link" href="https://github.com/YounamS/Nintendo_sale_Analysis--Python_Projects-Panda-Numpy-Matplotlib.git">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/bank_data.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Bank Data Analysis </h3>
    <ul>
      <li> Skills : SQL , POWER BI </li>
    </ul>
    <p>The goal is to obtain a comprehensive overview of the customer base that has utilized housing loans, enabling the bank to better tailor its products, services, and marketing strategies. </p>
    <a class="project-link" href="https://github.com/YounamS/Bank_customer_data_analysis-SQL_Project.git">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/TOY STORE.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Toy Store Data Analysis </h3>
    <ul>
      <li> Skill : Power BI</li>
    </ul>
    <p>The objective of analyzing this extensive toy store data is to optimize inventory flow in order to maximize sales and achieve operational efficiency.</p>
    <a class="project-link" href="https://github.com/YounamS/ToyStore-DataAnalysis_PowerBI_project.git">Check it out</a>
  </div>
</div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Pizza by time-graph-2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Pizza Store Data Analysis </h3>
    <ul>
      <li> Skill : EXCEL </li>
    </ul>
    <p> Our objective is to optimize the timing and content of our offers to entice customers during low-sales periods and rejuvenate interest in declining pizza varieties.</p>
    <a class="project-link" href="https://github.com/YounamS/Pizza-Store-Data-Analysis_Excel-Project.git">Check it out</a>
  </div>
</div>
</div>
